.container-alert {
  width: 90%;
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  margin: 12px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  align-items: flex-start;
}

.container-alert-warning {
  background-color: #fff3cd;
  border-color: #ffc107;
  border-width: 2px;
}

.span-12 {
  font-size: 12px;
  color: #0d5388;
  text-align: center;
  margin-left: 30px;
}

.span-12-warning {
  color: #856404;
}
.texto-alinhado {
  text-align: center;
  margin: 0 auto !important;
}

/* .div-text {
  padding: 8px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  justify-content: flex-center;
} */
