.container-alert {
    display: flex;
    flex-direction: row;
    background-color: #DAE7F0;
    margin: 10px;
    border: 7px;
    border-radius: 20px
}

.span-12 {
    font-size: 12px;
    color: #0D5388;
}

.div-text {
    padding: 8px;
    margin-right: 5px;
}