.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #303030;
  text-align: left;
}

.input-template {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  margin-bottom: 20px;
}

.padding-5{
padding: 9px;
}
.buttons-line {
  width: 100%;
  text-align: end;
  background-color: gray;
  padding: 10px;
  margin-top: 50px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.container-configure {
  display: flex;
  flex-direction: column;
}

.bolder {
  font-weight: bolder;
}

.overlay-text {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.header {
  font-weight: bold;
}

.footer {
  color: rgba(48, 48, 48, 0.5);
}

.input,
.texts {
  display: flex;
  flex-direction: column;
}

.left {
  width: 60%;
}

.rigth {
  margin-left: 50px;
}

.texts {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  width: 90%;
  border-radius: 7px;

}

.quickReply-texts {
  text-align: center;
}

.quick-reply {
  color: blue;
  border-top: 1px solid gray;
  width: 100%;
  padding: 5px;
}