body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont "Segoe UI", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row-align {
  display: flex;
  flex-direction: row;
}

textarea,
select {
  width: 300px;
  height: 30px;
  border-radius: 4px;
}

.input-template {
  width: 300px;
  height: 30px;
  border-radius: 4px;
}

textarea {
  height: 103px;
  resize: 'none';
}

table {
  color: #303030;
}

thead {
  color: #FFFF;
  background-color: var(--primary);
}

td,
th {
  padding: 5px;
}

:root {
  --primary: #EE7923;
  --secondary: #fdfdfd;
  --bs-gray: #eeeeee;
}

.text-label {
  color: #303030;
}

.label {
  color: #303030;
}

.div-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-forms {
  display: flex;
  flex-direction: row;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

button {
  background-color: var(--primary);
  color: #FFFF;
  border-color: var(--primary);
  margin: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}