@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  padding: 0;
}

code {
  font-family: 'Open Sans', sans-serif;
}

.row-align {
  display: flex;
  flex-direction: row;
}
.column-align {
  display: flex;
  flex-direction: column;
}

.left-align {
  text-align: left;
}

textarea,
select {
  width: 300px;
  height: 30px;
  border-radius: 4px;
}

select {
  border-radius: 8px !important;
}

.input-template {
  width: 300px;
  height: 30px;
  border-radius: 4px;
}

textarea {
  height: 103px;
  resize: 'none';
}

.table {
  color: #303030;
}

:root {
  --primary: #EE7923;
  --secondary: #fdfdfd;
  --bs-gray: #eeeeee;
  --blue: #048;
  --gradient-angle: 0deg;
}

.text-label {
  color: #303030;
}

.label {
  color: #303030;
}

.div-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-forms {
  display: flex;
  flex-direction: row;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* th - cores alternadas: */
table th:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0);
  color: #6b97cf;
}

table th:nth-child(even) {
  background-color: rgba(0, 0, 0, 0);
  color: #315180;
}

.title_2024 {
  text-align: center;
  color: var(--blue);
}

.hr_color {
  height: 2px;
  background-image: linear-gradient(to right, #a050e0, #80a0ff);
}

.btn-grey {
  background-color: #006699 !important;
  color: #FFF !important;
  padding: 0px !important;
}

.btn {
  border-radius: 20px;
}

.table-2024 {
  box-shadow: 0 0 0 1.5px #30c;
  /* the table border  */
  border-radius: 10px;
  border-collapse: collapse;
}

.gradient-background {
  background: linear-gradient(90deg, #000f48, #013473, #0171bd);
}


.border_gradient {
  display: inline-block;
  position: relative;
  background-image: conic-gradient(
     from var(--gradient-angle),
     var(--GlowBorder1,#57dcef) 0,
     var(--GlowBorder2,#51e6ff) 12.5%,
     var(--GlowBorder3,#4939b4) 25%,
     var(--GlowBorder4,#47059e) 29.21%,
     var(--GlowBorder5,#8230ef) 74.83%,
     var(--GlowBorder1,#57dcef) 99%
    );
   
  border-radius: 15px;
  padding: 2px;
  animation: rotate 2s linear infinite; 
}
.border_gradient-gray {
  display: inline-block;
  position: relative;
  border: 1px solid #9b9b9b;
  border-radius: 15px;
  padding: 2px; 
}
   
   .border_gradient::after {
       content: "";
       position: absolute;
       top: -5px;
       left: -5px;
       right: -5px;
       bottom: -5px;
       border-radius: 15px;
       background-image: conic-gradient(from var(--gradient-angle), var(--GlowBorder1, #57dcff) 0, var(--GlowBorder2, #51e6ff) 12.5%, var(--tGlowBorder3, #4939b4) 25%,
       var(--GlowBorder4, #47059e) 29.21%, var(--GlowBorder5, #8230ff) 74.83%,
       var(--GlowBorder1, #57dcff) 99%);
       z-index: -1;
       filter: blur(10px);
       opacity: 0.5;
   }
   .border_gradient-gray::after {
       content: "";
       position: absolute;
       border-radius: 15px;
       border: 1px solid #f0f0f0;
       z-index: -1;
   }

   .number_button_gradient {
    background-color: #fff;
     border-radius: 50%;
     display: inline-block;
     width: 25px;
     height: 25px;
     line-height: 25px;
     text-align: center;
     font-weight: bold;
     color: #3366ff;
    }
   .number_button_gradient-gray {
    background-color: #f0f0f0;
     display: inline-block;
     width: 25px;
     height: 25px;
     line-height: 25px;
     text-align: center;
     font-weight: bold;
     color: #9b9b9b;
    }

.color-text-label {
  font-size: 15px;
  color: #021c53;
  font-weight: bolder;
}

.table-2024 th {
  border-bottom: 2px solid #30c;
  vertical-align: middle;
}

.table-2024 th:not(:first-child):not(:last-child) {
  border-right: 1px solid #aaa;
}

.table-2024 tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.table-2024 tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.button-blue{
  background-color:#0d5388;
  color:#fff;
  font-weight:bolder;
  border-radius:20px;
  font-size:12px;
  border:none;
  width:70px;
  height:25px;
}

.table-container {
  max-height: 80vh;
  overflow-y: auto;
}

.fixed-header-table {
  width: 100%;
  border-collapse: collapse;
}

.fixed-header-table thead {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}

.fixed-header-table th,
.fixed-header-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.fixed-header-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.blue-text {
  color: #048;
}

.no-bullets{
  list-style: none;
  font-size: 12.6px;
  font-weight: bolder;
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.button-next{
  height: 30px;
  border-radius:10px;
  background-color:#0275D8;
  color:#FFF;
  font-size:13.6px;
  border: none;
  font-weight: bold;
}

.header-accordion {
  background-color: #342D69;
  width: 900px;
  height: 40px;
  color: #FFF;
  border: 1px solid #FFF;
  text-align: left;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bolder;
}

.disabled-button {
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
  padding: 10px;
  width: 100px;
  height: 30px;
}

.disabled-div-button {
  width: 120px;
}