 body {
     background-color: #fafafa;
     font-family: "Segoe UI", Arial, Helvetica, sans-serif;
     color: #303030;
     padding: 0px;
     margin: 0px;
     margin-bottom: 200px;
 }

 legend,
 div,
 h2 {
    color: #303030;
    margin: 0px;
 }

 #download {
    margin: 8px;
    padding: 0px;
    content: center;
 }

 th,
 table,
 td {
     padding: 5px;
 }

 a {
     color: blue;
     cursor: pointer;
 }

 table {
     width: 90vw;
     margin: 10px 0px 0px 30px;
 }

 input {
    margin: 0em;
    width: 11px;
    height: 11px;
 }

 img {
     padding: 0px 0px 0px 11px;
 }

 #project-name {
     padding: 14px 0px 0px 24px;
 }

 #input-search {
     width: 25em;
     height: 3em;
     padding-left: 8px;
 }

 #container {
     margin: 10px 0px 0px 30px;
 }

 #bot-name {
     width: 30px;
 }

 #search-container {
     display: flex;
     flex-direction: row;
 }