.header-accordion {
    background-color: #342D69;
    width: 800px;
    height: 40px;
    color: #FFF;
    border: 1px solid #FFF;
    text-align: left;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bolder;
}

.body {
    background-color: #F1F1F1;
    width: 800px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    flex-direction: row;
    align-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.input-spaces{
    margin: 5px;
}

.input-values {
    width: 250px;
    height: 40px;
    border: 1px solid #A8A8A8;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

.span-title{
    background-color: #DAE7F0;
    color: #0D5388;
    width: 26px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 7px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-title-variables{
    background-color: #DAE7F0;
    color: #0D5388;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 7px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}